
nav{
    background-color: #3fa46a;
    padding: 24px;
}
a{
    font-family: "Century Gothic";
    transition: 0.3s ease;
    background: #3fa46a;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    border-top: 4px solid #3fa46a;
    border-bottom: 4px solid #3fa46a;
    padding: 20px 0;
    margin: 0 20px;
}
a:hover{
    border-top: 4px solid #ffffff;
    border-bottom: 4px solid #ffffff;
    padding: 6px 0;
}